arabic-reshaper==3.0.1
asn1crypto==1.5.1
beautifulsoup4==4.15.0
blinker==1.9.0
certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.7
click==8.4.1
cryptography==49.0.0
cssselect2==0.9.0
curl_cffi==0.15.0
Flask==3.1.3
html5lib==1.1
idna==3.18
itsdangerous==2.2.0
Jinja2==3.1.6
lxml==6.1.1
markdown-it-py==4.2.0
MarkupSafe==3.0.3
mdurl==0.1.2
multitasking==0.0.13
numpy==2.4.6
oscrypto==1.3.0
pandas==3.0.3
peewee==4.0.7
pillow==12.2.0
platformdirs==4.10.0
protobuf==7.35.0
pycparser==3.0
Pygments==2.20.0
pyHanko==0.35.1
pyhanko-certvalidator==0.31.1
pypdf==6.13.3
python-bidi==0.6.10
python-dateutil==2.9.0.post0
pytz==2026.2
PyYAML==6.0.3
reportlab==4.5.1
requests==2.34.2
rich==15.0.0
setuptools==82.0.1
six==1.17.0
soupsieve==2.8.4
svglib==2.0.1
tinycss2==1.5.1
tvdatafeed @ git+https://github.com/rongardF/tvdatafeed.git@e6f6aaa7de439ac6e454d9b26d2760ded8dc4923
typing_extensions==4.15.0
tzlocal==5.4.3
uritools==6.1.2
urllib3==2.7.0
webencodings==0.5.1
websocket-client==1.9.0
websockets==16.0
Werkzeug==3.1.8
xhtml2pdf==0.2.17
yfinance==1.4.1
